body {
    padding: 0;
    margin: 0;
    background-color: #0f1b2b;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #fff;
}

.loader-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #E51937;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container {
    padding: 10px 20px;
}

#main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 65px;
}

.movie_item_container {
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-content: unset;
    grid-template-columns: 50%;
}

.movie_star i {
    margin-top: 15px;
    color: #FFC045;
}

.movie_box_info, .movie_box_infos {
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
}

.box_dot {
    content: "\2022";
    color: #fff;
    opacity: 0.5;
}

#footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f1b2b;
    box-shadow: 1px -2px 7px -1px #000000;
    left: 0;
}

.movie_title {
    height: 46px;
    overflow: hidden;
}
.movie_year {
    color: #fff;
    opacity: 0.5;
    margin-top: 10px;
    font-size: 12px;
}
.footer_element {
    font-size: 24px;
    color: #fff;
    opacity: 0.5;
}

.footer_element:focus {
    color: red;
}

.d-block {
    display: block;
}
.d-none {
    visibility: hidden;
}
#search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0f1b2b;
    padding: 0 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

#search {
    width: 101%;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #0f1b2b;
    border:none;
    border-radius: 10px;
    color: #E51937;
    font-size: 20px;
    padding-left: 20px;
}
#search:focus {
    outline: none;
}
#search::placeholder {
    font-size: 20px;
    color: #fff;
    padding-left: 4px;
}
.search_icon {
    font-size: 20px;
    color: #fff;
}
.search_close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 20px;
}
.dont_title {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}

/* DETAIL  */
#detail_main {
    display: flex;
    justify-content: center;
    padding: 0!important;
    position: relative;
}
.bottom_banner {
    position: absolute;
    left: 115px;
    top: 439px;
    width: 164px;
    height: 250px;
}
.w-100 {
    width: 100%;
}
.favorites {
    position: absolute;
    font-size: 23px;
    padding: 5px;
    right: 30px;
    top: 27px;
    color: #FFC045;
    border: 1px solid #0f1b2b;
    background-color: #0f1b2b;
    border-radius: 30px;
}
.detail_movie_info {
    text-align: center;
    margin-top: 132px;
}
#detail_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#detail_rating h3 {
    margin: 0;
}
#detail_rating i {
    margin-left: 10px;
    color: #FFC045;
}

.main_bottom {
    padding: 20px 18px;
}
.summary_paragraph {
    color: #fff;
}
.summary {
    height: 120px;
    overflow: hidden;
}
.show_more {
    color: #47CFFF;
}
.not_read {
    display: none;
    color: #47CFFF;
}
.detail_slider_photo {
    overflow: hidden;
    margin-top: 20px;
}
.movie_photo_slider_item {
    width: 104px;
    height: 72px;
    margin-right: 10px;
    border-radius: 6px;
}
.blogs_about_film {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.blog_item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.blog_item span {
    color: #fff;
    margin-top: 10px;
    opacity: 0.5;
    font-size: 12px;
}
.blog_item_image {
    width: 165px;
    height: 250px;
    border-radius: 10px;
}
.detail_back_button {
    color: #FFC045;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 45px;
    text-shadow: 2px 2px 20px #222;
    background-color: #0f1b2b;
    border-radius: 30px;
}
.main_moive_photo {
    width: 164px;
    height: 250px;
}
